*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    color: #14274a;
}

.container{
    max-width: 1580px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-image: url(/img/bg.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1000px) {
        flex-direction: column;
    }   
}

.menu {
    display: flex;
    gap: 100px;

    @media (max-width: 1000px) {
        flex-wrap: wrap;
        margin-top: 50px;
        gap: 30px;
    }   

    a{
        color: white;
        font-size: 25px;
        text-decoration: none;
        transition: 0.4s;
        border-bottom: 1px solid transparent;




        &:hover{
            border-bottom: 1px solid white;
        }

    }

}

.title {

    margin: 200px 0 100px;


    h3{
        font-size: 50px;
        font-weight: 400;
    }
    h1{
        font-size: 154px;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 3px;
        margin-bottom: -10px;

        @media (max-width: 700px) {
            font-size: 100px;;
        } 

        @media (max-width: 500px) {
            font-size: 80px;
            margin-top: 10px;
        } 
    }
    h2{
        font-size: 60px;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 15px;
    }
    p{
        max-width: 575px;
        font-size: 25px;
        letter-spacing: 4px;
    }
}
.book {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 25px;
        margin: 80px 0 15px;    
    }
    button{
        background-color:#E0B973 ;
        border: none;
        padding: 25px 33px;
        font-size: 25px;
        color: white;
        align-items: center;
        display: flex;
        gap: 20px;
        border-radius: 10px;
    }
}


.btn{
    background-color:#E0B973 ;
    border: none;
    padding: 25px 33px;
    font-size: 25px;
    color: white;
    align-items: center;
    display: flex;
    gap: 20px;
    border-radius: 10px;
}

.wrap1{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 69px;

    @media (max-width: 1300px) {
        flex-direction: column;
    } 
}

.title{
    font-size: 36px;

    margin: 85px 0;
}

.box1{

    border-left: 1px solid rgba(20, 39, 74, 1);
    padding-left: 45px;
    h3{
       font-size: 60px; 
    }

    p{
        font-size: 25px;
        margin: 25px 0 30px;
    }
}

.img1{
    @media (max-width: 900px) {
        width: 100%;
    } 
}


.wrap2{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 100px 0;

    h3{
        font-size: 60px;
    }

    h5{
        font-size: 30px;
    }

    p{
        font-size: 25px;
    }

}

.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header2{
    background-image: url(./img/bg2.jpg);
}

.box3{
    text-align: center;

    margin: 50px 0;
    h2{
        font-size: 60px;
    }

    p{
        font-size: 25px;
        margin-top: 30px;
    }
}

.card3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    img{
        max-width: 1580px;
        width: 100%;
    }

    h3{
        font-size: 48px;
        background-color: #fff;
        position: relative;
        top: -50px;
        max-width: 680px;
        width: 100%;
       text-align: center;
       padding-top: 15px;

       @media (max-width: 500px) {
        font-size: 30px;
        max-width: 300px;
        
       }

    }
}


.f-wrap{
    display: flex;
justify-content: space-between;
gap: 30px;
flex-wrap: wrap;



}

.f-box{
    
    gap: 100px;
    
}

.footer{
  background-color: #14274A;
  width: 100%;

  height: 320px;
  padding-top: 140px;

  p{
    font-size: 15px;
    color: #fff;
    margin: 20px;

  }

  img{
    width: 120px;
    height: 40px;
  }

  input{
    background-color: #14274A;
    color: white;
    gap: 100px;
    margin-left: 20px;
   border: solid;
   color: 
   #E0B973;
   width: 170px;
   height: 40px;
   
  }
}






.header3{
    background-image: url(./img/bg3.jpg);
}

.contact-title{
    font-size: 80px;
    text-align: center;
    padding-top: 40px;

    @media (max-width: 700px) {
       font-size: 60px;
     }
}


.header4{
    background-image: none;
    background-color:   rgba(20, 39, 74, 1) ;
    padding-bottom: 150px;
}


.wrap41{
    display: flex;
    gap: 30px;
    justify-content: space-between;

    @media (max-width: 1111px) {
        flex-direction: column;
    }

}

.box41{

    padding-bottom: 150px;

    h2{
        font-size: 60px;

        @media (max-width: 500px) {
            font-size: 45px;
         }

    }

    p{
        font-size: 30px;
    }
}

.section41{
    padding-top: 250px;
    padding-bottom: 150px;
}

.box42{
    font-size: 40px;

    @media (max-width: 600px) {
        font-size: 30px;
     }
}

.form4{
    input, textarea{
        padding: 20px;
        width:550px;
         margin-bottom: 30px;
         margin-top: 10px;  

         @media (max-width: 650px) {
            width: 400px;
         }

         @media (max-width: 500px) {
            width: 300px;
         }
    }
    
    p{
            font-size: 25px;

    }
}